Repository theia-ide/theia-apps, pull requests merged in 2020-04, with the labels that each got.

#328 full: fix build failure due to golang dependency
  theia-full-docker/Dockerfile
  theia-go-docker/Dockerfile
Labels: full, go

#337 Pin vscode-json-languageserver to 1.2.2
  theia-cpp-docker/latest.package.json
  theia-cpp-docker/next.package.json
  theia-cpp-electron/package.json
  theia-dart-docker/latest.package.json
  theia-dart-docker/next.package.json
  theia-deb-build-docker/package.json
  theia-docker/latest.package.json
  theia-docker/next.package.json
  theia-electron/package.json
  theia-full-docker/latest.package.json
  theia-full-docker/next.package.json
  theia-go-docker/latest.package.json
  theia-go-docker/next.package.json
  theia-java-docker/latest.package.json
  theia-java-docker/next.package.json
  theia-python-docker/latest.package.json
  theia-python-docker/next.package.json
  theia-rpm-build-docker/package.json
  theia-ruby-docker/latest.package.json
  theia-ruby-docker/next.package.json
  theia-rust-docker/next.package.json
  theia-swift-docker/latest.package.json
  theia-swift-docker/next.package.json
  yangster-docker/latest.package.json
  yangster-docker/next.package.json
Labels: json

#323 rust: remove rust from CI
  .travis.yml
Labels: bug, ci, rust

#343 [CI] [Rust] Add-back the Rust image to CI
  .travis.yml
  theia-rust-docker/Dockerfile
  theia-rust-docker/next.package.json
Labels: ci, rust

#279 [documentation] update repository readme
  README.md
  assets/docker.png
  assets/electron.png
  assets/theia.svg
  theia-cpp-docker/README.md
Labels: documentation
