Repository theia-ide/theia-apps, pull requests merged in 2020-09, with the labels that each got.

#404 ruby: remove ruby docker image
  README.md
  theia-ruby-docker/Dockerfile
  theia-ruby-docker/latest.package.json
  theia-ruby-docker/next.package.json
Labels: ruby

#417 [full] Disable .NET SDK Telemetry and .NET welcome message
  theia-full-docker/Dockerfile
Labels: full

#419 html: include 'vscode-builtin-html-language-features' vscode extension
  theia-cpp-docker/latest.package.json
  theia-cpp-docker/next.package.json
  theia-cpp-electron/package.json
  theia-dart-docker/latest.package.json
  theia-dart-docker/next.package.json
  theia-docker/latest.package.json
  theia-docker/next.package.json
  theia-electron/package.json
  theia-full-docker/latest.package.json
  theia-full-docker/next.package.json
  theia-go-docker/latest.package.json
  theia-go-docker/next.package.json
  theia-php-docker/latest.package.json
  theia-php-docker/next.package.json
  theia-python-docker/latest.package.json
  theia-python-docker/next.package.json
  theia-rust-docker/next.package.json
  theia-swift-docker/latest.package.json
  theia-swift-docker/next.package.json
Labels: enhancement, vscode extensions

#421 [full, go] Update `vscode-go` publisher
  theia-full-docker/latest.package.json
  theia-full-docker/next.package.json
  theia-go-docker/latest.package.json
  theia-go-docker/next.package.json
Labels: full, go
