Repository theia-ide/theia-apps, pull requests merged in 2020-06, with the labels that each got.

#366 Adding support for ppc64le platform
  theia-cpp-docker/Dockerfile
  theia-cpp-docker/README.md
Labels: cpp

#369 Add dart sdk to full image and install dart and flutter extensions to next image
  theia-full-docker/Dockerfile
  theia-full-docker/latest.package.json
  theia-full-docker/next.package.json
Labels: dart, full

#370 Added Travis CI jobs to publish installers
  .travis.yml
  build_container.sh
  commit_screenshots.sh
  theia-electron/package.json
Labels: ci, electron, enhancement

#376 [ci] Skip before_deploy for installer builds
  .travis.yml
Labels: ci
