Repository theia-ide/theia-apps, pull requests merged in 2020-02, with the labels that each got.

#287 [java-docker] use builtin and external ext
  theia-java-docker/Dockerfile
  theia-java-docker/latest.package.json
  theia-java-docker/next.package.json
Labels: java

#254 Fix for #253 - Rust Channel update
  theia-rust-docker/Dockerfile
  theia-rust-docker/makefile
Labels: no-stale

#296 go: update go images to use vscode extensions
  theia-go-docker/Dockerfile
  theia-go-docker/latest.package.json
  theia-go-docker/next.package.json
Labels: go

#300 theia-docker: update image to include vscode ext
  theia-docker/Dockerfile
  theia-docker/latest.package.json
  theia-docker/next.package.json
Labels: js/ts

#297 python: update images to use vscode extensions
  theia-python-docker/Dockerfile
  theia-python-docker/latest.package.json
  theia-python-docker/next.package.json
Labels: python

#301 java/cpp: cleaup images
  theia-cpp-docker/Dockerfile
  theia-cpp-docker/latest.package.json
  theia-cpp-docker/next.package.json
  theia-java-docker/latest.package.json
  theia-java-docker/next.package.json
Labels: cpp, java

#307 theia-full: update image to include ext extensions
  theia-full-docker/Dockerfile
  theia-full-docker/latest.package.json
  theia-full-docker/next.package.json
Labels: full
