Repository theia-ide/theia-apps, pull requests merged in 2020-05, with the labels that each got.

#355 bug: fix momentjs dependency
  theia-cpp-docker/latest.package.json
  theia-dart-docker/latest.package.json
  theia-deb-build-docker/package.json
  theia-docker/latest.package.json
  theia-full-docker/latest.package.json
  theia-go-docker/latest.package.json
  theia-java-docker/latest.package.json
  theia-php-docker/latest.package.json
  theia-python-docker/latest.package.json
  theia-rpm-build-docker/package.json
  theia-ruby-docker/latest.package.json
  theia-swift-docker/latest.package.json
  yangster-docker/latest.package.json
Labels: bug

#362 Fix for build failing at go linter
  theia-full-docker/Dockerfile
Labels: full

#364 Added PHP plugins missing from the full image
  theia-full-docker/latest.package.json
  theia-full-docker/next.package.json
Labels: full, php
